services:
  merge:
    image: pentaas-merge
    container_name: pentaas_merge_runner

    environment:
      TARGET: ${TARGET:-127.0.0.1}
      DATA_DIR: ${DATA_DIR:-/tmp/data}

    volumes:
      - ${DATA_DIR:-/tmp/data}:/data

    working_dir: /data
    command: ["sh", "-c", "echo TARGET=$TARGET && echo DATA_DIR=$DATA_DIR && ls -lah /data"]
