services:
merge:
  build:
    context: ./merge
    dockerfile: Dockerfile
  container_name: pentaas_merge
  environment:
    - TARGET=${TARGET}
    - DATA_DIR=/app/reports/${SCAN_ID}/data
  volumes:
    - ./reports:/app/reports
  network_mode: bridge
